# See https://help.github.com/articles/ignoring-files/
.DS_Store
.eslintcache
.pnp
.pnp.js
*.bak
*.local
*.log
*.tgz
*.tmp
*~
/build
/coverage
/dist
/release
~*
node_modules
npm-debug.log*
package-lock.json
**/*.tsbuildinfo
